@import "tailwindcss";

@theme {
  --color-primary: #00306a;
  --color-secondary: #1369b4;
  --color-accent: #00a5ae;
  --color-text: #707070;
}

.router-link-active {
  color: var(--color-accent);
}
